@page "/reset-password"
@inject NavigationManager NavigationManager

<div class="reset-password-container row">
    <div class="left column">
        <div class="form column">
            <div class="group column">
                <h3 class="h3">Reset password</h3>
                <p class="typography__body-2 text">Please, type the email you have used for your your account registration. We are going to send you an activation link there where you can reset your password.</p>
            </div>
            <IgbInput DisplayType="InputType.Text" Label="Email" Placeholder="Min 8 characters" Outlined="true" class="input" reset-password-scope></IgbInput>
            <IgbButton Variant="ButtonVariant.Contained" @onclick="@(e => Navigate("/set-new-password"))" class="button" reset-password-scope>
                send reset link
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </div>
    <div class="right column"></div>
</div>

@code {
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
