@inherits LayoutComponentBase

<div class="home-container column">
    <div class="group row">
        <div class="group_1 row">
            <img src="https://i.ibb.co/syrwz7h/travel-app.png" class="image" />
        </div>
    </div>
    <div class="view-container">@Body</div>
</div>

@code {
}
